$padding:10px;
$margin:10px;
$clearmargin:0px;
$clearpadding:0px;
$clear-radius:0;
$clear-border:0px;
$default-color: #33495f;
$black-color: #000;
$default-button-color :#d13e2f;
$focus-button-color :#94180c;
$default-border: 1px solid #ccc;
$white-color:#fff;
$align-left:left;
$align-right:right;
$align-center:center;
$pannel-box-bg:#f7f6f8;
$border-radius:10px;
$block:block;
$gray-color:#ccc;
$brown-color:#48433c;





//$dark-color: darken($default-color, 20%);
//$content-color: #333333;
//$warning-color: yellow;
//$important-color: red;
//$information-color: blue;
//$black-color: lighten(black);
//$white-color: darken(white);